{{"sectionhub-julia.scss.css" | asset_url | stylesheet_tag }}

<div id="sh-julia-{{ section.id }}" class="sh sh-container sh-julia-collection-grid">  
  {% unless section.settings.title == blank and section.settings.subtitle == blank %}
  <div class="sh-header">
    {% unless section.settings.title == blank %}
    <h2 class="sh-title">{{ section.settings.title | escape }}</h2>
    {% endunless %}
    {% unless section.settings.subtitle == blank %}
    <div class="sh-subtitle">{{ section.settings.subtitle | escape }}</div>
    {% endunless %}
  </div>
  {% endunless %}
  <div class="sh-grid" data-columns="{{section.settings.col_per_row}}" data-gap="30">
    {% if section.settings.selected_collection == blank or collections[section.settings.selected_collection] == empty or collections[section.settings.selected_collection].products_count == 0 %}
      {% for product in collections['all'].products limit:section.settings.number_of_products %}
      	{% include 'sh-julia-product-card' %}
      {% endfor %}
    {% else %}
      {% for product in collections[section.settings.selected_collection].products limit:section.settings.number_of_products %}
    	{% include 'sh-julia-product-card' %}
      {% endfor %}
    {% endif %}    
  </div>
</div>

{% schema %}
{"name":"Collection Grid","settings":[{"type":"text","id":"title","label":"Heading","default":"Featured products"},{"type":"text","id":"subtitle","label":"Subheading"},{"type":"collection","id":"selected_collection","label":"Collection"},{"type":"range","id":"number_of_products","label":"Number of products","default":10,"min":2,"max":12,"step":1},{"type":"range","id":"col_per_row","label":"Col per row","default":4,"min":2,"max":5,"step":1},{"type":"text","id":"image_size","label":"Product size","default":"270x370_crop_center","info":"Set the image size: '600x600',\n '2048x',\n'original' or '370x370_crop_center'"},{"type":"header","content":"Strings"},{"type":"text","id":"sold_out_string","label":"Sold out string","default":"Sold out"},{"type":"text","id":"sale_string","label":"Sale string","default":"Sale"},{"type":"text","id":"new_string","label":"New string","default":"New"},{"type":"text","id":"add_cart_string","label":"Add cart string","default":"Add to cart"}]}
{% endschema %}
